body {
  margin: 0;
  background: #eee;

  #storybook-root {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .muncher-editor {
    margin-top: 5rem;

    .muncher-editor-input {
      max-width: 45rem;
      min-height: 10rem;
    }
  }


}
